@import "tailwindcss";


body {
  /* overflow-y: scroll;  */
  scrollbar-width: none;
  font-family: Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}


@layer utilities {
  .mainBlack {
    background-color: #191919;
  }

  .textColor{
    color: #191919;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
  }

  .borderStyle {
    border-radius: 16px;
    border-width: 1px;
    border-color: #E4E4E4;
  }
}

